<%= form_for Issue.new do |f| %>
<div>
    <%= f.text_field :name, placeholder: 'Affected System' %>
</div>
<div>
    <%= f.text_area :description, placeholder: 'Description'  %>
</div>
<%= f.text_field :picture, placeholder: 'Picture'  %>
<%= f.submit 'Save' %>
<% end %>