<%= link_to 'New', new_issue_path %>

<% @issues.each do |issue| %>
<div class="media mt-4">
        <span class="border border-white">
    <div>
        <%= image_tag issue.picture, height: 100 %>
    </div>
        <div>
           <%= issue.name %> 
        </div>
        <div>
            <p><%= issue.description %></p>
       </div>
        </span>
</div>
     <%= link_to 'Edit', edit_issue_path(issue) %>
<% end %>    


