<% @tickets.each do |ticket| %>

    <div class= "row">
        <div class="col-md-4">
            <%= ticket.status %>
        </div>
    </div>
        <div class="col-6">
            <%= ticket.name %>
            <%= ticket.pcname %>
        </div>
        <div class="col-3" >
            <% if ticket.status == 'submitted' %>
                <%= link_to 'Assign', assign_path(ticket), method: :put, class: 'btn btn-sm btn-secondary' %>
            <% elsif ticket.status == 'assigned' %>
                <%= link_to 'Working', working_path(ticket), method: :put, class: 'btn btn-sm btn-secondary' %>  
            <% elsif ticket.status == 'working' %>
                <%= link_to 'Worked', worked_path(ticket), method: :put, class: 'btn btn-sm btn-secondary' %>  
            <% elsif ticket.status == 'worked' %>
                <%= link_to 'Complete', complete_path(ticket), method: :put, class: 'btn btn-sm btn-secondary' %>
            <% end %> 
        </div>
        
        <% if ticket.status == 'assigned' %>
            <% ticket.ticket_issues.each do |ticket_issue| %>
                 <div class="col-md-4">
                    <%= image_tag ticket_issue.issue.picture, height: 50, width: 50, class: 'mr-3' %>
                    <div class="media-body">
                        <h6>
                            <%= ticket_issue.issue.name %>
                        </h6>
                    </div>
                 </div>
            <% end %>
        <% end %>
        </span>
<% end %>